﻿@page
@model Web.Pages.Routes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteNameExtention)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteNameExtention)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteTerminalStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteTerminalStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteTerminalFinish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteTerminalFinish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteFare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteFare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteTimespan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteTimespan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.TransportType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.TransportType.TransportTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Route.RouteId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
