﻿@page
@model Web.Pages.Routes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Route.RouteId" />
            <div class="form-group">
                <label asp-for="Route.TransportTypeId" class="control-label"></label>
                <select asp-for="Route.TransportTypeId" class="form-control" asp-items="ViewBag.TransportTypeId"></select>
                <span asp-validation-for="Route.TransportTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RouteName" class="control-label"></label>
                <input asp-for="Route.RouteName" class="form-control" />
                <span asp-validation-for="Route.RouteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RouteNameExtention" class="control-label"></label>
                <input asp-for="Route.RouteNameExtention" class="form-control" />
                <span asp-validation-for="Route.RouteNameExtention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RouteTerminalStart" class="control-label"></label>
                <input asp-for="Route.RouteTerminalStart" class="form-control" />
                <span asp-validation-for="Route.RouteTerminalStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RouteTerminalFinish" class="control-label"></label>
                <input asp-for="Route.RouteTerminalFinish" class="form-control" />
                <span asp-validation-for="Route.RouteTerminalFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RouteFare" class="control-label"></label>
                <input asp-for="Route.RouteFare" class="form-control" />
                <span asp-validation-for="Route.RouteFare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RouteTimespan" class="control-label"></label>
                <input asp-for="Route.RouteTimespan" class="form-control" />
                <span asp-validation-for="Route.RouteTimespan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route.RouteDescription" class="control-label"></label>
                <input asp-for="Route.RouteDescription" class="form-control" />
                <span asp-validation-for="Route.RouteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
