﻿@page
@model Web.Pages.Routes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].RouteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].RouteNameExtention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].RouteTerminalStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].RouteTerminalFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].RouteFare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].RouteTimespan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].RouteDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].TransportType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Route) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteNameExtention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteTerminalStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteTerminalFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteFare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteTimespan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType.TransportTypeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RouteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RouteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RouteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
