﻿@page
@model Web.Pages.Timetable.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timetable</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timetable.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timetable.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timetable.Route)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timetable.Route.RouteName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Timetable.TimetableId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
