﻿@page
@model Web.Pages.Timetable.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timetable[0].DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timetable[0].Route)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Timetable) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.RouteName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TimetableId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TimetableId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TimetableId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
