﻿@page
@model Web.Pages.Points.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Point</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Point.PointName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Point.PointName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Point.PointLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Point.PointLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Point.PointId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
