﻿@page
@model Web.Pages.Points.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Point[0].PointName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point[0].PointLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Point) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PointName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointLocation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PointId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PointId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PointId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
